// 颜色
$accentColor = #02a95e
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #002020
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$border = rgba(0, 0, 0, .12)
$nprogressColor = #02a95e
$vssue-border-color = rgba(0, 0, 0, .12)
$vssue-font-size = 1rem
$vssue-font-family = "JetBrainsMonoNL-Light" !important
