// 颜色
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #1d1e22
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$border = rgba(0, 0, 0, .12)
$nprogressColor = #3eaf7c
$vssue-border-color = rgba(0, 0, 0, .12)
$vssue-font-size = 1rem
$vssue-font-family = "JetBrainsMono-Regular" !important
