.demo-and-code-wrapper
  padding 0 !important
  margin 0 !important
  border-radius 4px

  .code-control
    height 36px !important
    line-height 36px !important
    margin 0 !important
    position static !important
    border-radius 4px
    font-size 1rem !important
    background-color #f1f1f1 !important

  .code-wrapper
    overflow hidden !important

.demo-and-code-online-edit-wrapper
  height 100%

  button
    height 100%
    display flex
    align-items center

