@font-face {
  font-family: 'JetBrainsMonoNL-Light';
  font-style: normal;
  font-weight: 300;
  src: local('JetBrainsMonoNL Light'), local('JetBrainsMonoNL-Light'),
          url('/fonts/JetBrainsMonoNL-Light.ttf') format('truetype');
}

.v-application, code, kbd, pre, samp, .line-number
  font-family "JetBrainsMonoNL-Light" !important
