/* roboto-300 - latin */
@font-face {
  font-family: 'JetBrainsMono-Regular';
  font-style: normal;
  font-weight: 300;
  src: local('JetBrainsMono Regular'), local('JetBrainsMono-Regular'),
          url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono-Medium';
  font-style: normal;
  font-weight: 300;
  src: local('JetBrainsMono Medium'), local('JetBrainsMono-Medium'),
          url('/fonts/JetBrainsMono-Medium.ttf') format('truetype');
}

.v-application
  font-family "JetBrainsMono-Regular" !important

code, kbd, pre, samp, .line-number
  font-family 'JetBrainsMono-Medium'
