html
  overflow: hidden

html, body, #app, #doc, .v-application--wrap, .v-main, .v-main__wrap
  height 100%

.v-main__wrap
  display flex
  flex-direction column

  .theme-container
    flex 1
    overflow-y auto
    -webkit-overflow-scrolling touch
