html
  overflow: auto

#scroll-body
  min-height calc(100vh - 48px)

@media (min-width: 600px)
  .v-main
    height 100vh

  .v-main__wrap
    display flex
    flex-direction column

    #scroll-body
      min-height auto
      flex 1
      overflow auto
