h1
  margin-top 24px
  margin-bottom 12px

h2
  margin-top 20px
  margin-bottom 10px
  border-bottom none !important

h3
  margin-top 16px
  margin-bottom 8px

h4
  margin-top 12px
  margin-bottom 6px

h5
  margin-top 8px
  margin-bottom 4px

h6
  margin-top 4px
  margin-bottom 2px
