.vssue
  padding 0 !important

.vssue-pagination-select
  width 50px
  border-radius 2px

.vssue .vssue-new-comment .vssue-new-comment-input
  background-color #f1f1f1 !important
  border-width 2px !important
  border-radius 4px !important
  border-color transparent !important

  &:focus
    box-shadow none !important
    border-color $nprogressColor !important

.vssue .vssue-button
  border-radius 4px !important
