.vssue
  padding 0 !important

.vssue-pagination-select
  width 50px
  border-radius 2px

.vssue .vssue-new-comment .vssue-new-comment-input

  border-width 2px

  &:focus
    box-shadow none
    border-color $nprogressColor
    background-color #f1f1f1
