.v-btn
  font-size 1em !important
  text-transform: none

.v-alert
  margin-bottom 0

.v-input, .v-label, .v-alert
  font-size 1em

.mdi:before, .mdi-set
  font-size 1em

.v-snack__content
  font-size 1rem

.v-snack__action
  margin-right 8px
