.v-btn
  font-size 1em !important
  text-transform: none

.v-input, .v-label, .v-alert
  font-size 1em

.mdi:before, .mdi-set
  font-size 1em

.v-snack__wrapper
  min-width 300px !important

.v-snack__content
  font-size 1rem

.v-snack__action
  margin-right 8px

.v-alert__content
  font-weight bold

  p
    margin-top 4px
    font-weight normal

.v-application
  p
    margin-bottom 0

  code
    padding 0 .4em

.v-alert
  margin 12px 0

  a
    color #ffffff !important
    margin-left 10px

    svg
      color #ffffff !important

.v-data-table
  tbody tr td:first-of-type, tr th:first-of-type
    word-break keep-all
