html
  overflow: auto

.v-app-bar
  flex-grow 0

#scroll-body
  height 100%

@media (min-width: 600px)
  .v-main
    height 100vh

  .v-main__wrap
    display flex
    flex-direction column

    #scroll-body
      flex 1
      overflow auto
