.el-tabs--card > .el-tabs__header
  border-bottom 2px solid $nprogressColor !important

  .el-tabs__nav-wrap
    margin-bottom 5px

  .el-tabs__nav
    border none !important

  .el-tabs__item
    border 2px solid #ffffff !important
    margin-right 5px
    height 26px
    line-height 24px
    border-radius 4px
    color rgba(0, 0, 0, 0.87)

    &.is-active
      border-color $nprogressColor !important
