@import './prism-theme.scss';
@import './markmap-foreign.scss';
@import './dark.scss';

html{
  font-size: clamp(12px, 1.1vw , 15px);
}


body {
  font-size: inherit;
  color: $light-text;
  background-color: $light-bg;
  font-family: 'jinbuti';
  font-feature-settings: "liga" 0, "calt" 0; // 不使用连体字
}

code, kbd, pre, samp {
  font-family: $font-family-code;
}

.q-loading-bar{
  background: $primary !important;
}

strong {
  font-weight: bold;
}

.q-header,.q-drawer{
  color: $light-text;
  background-color: $light-bg;
}

// inline code
.doc-token {
  display: inline-block;
  padding: 0 4px;
  border-radius: $generic-border-radius;
}
.doc-link {
  .doc-token{
    color: inherit !important;
    background-color: inherit !important;
    padding: 0;
    border-radius: 0;
  }
}
// blockquotes
.doc-note {
  border-radius: $generic-border-radius;
  margin: 16px 0;
  padding: 16px;
  line-height: 1.35em;
  border-width: 1px;
  border-style: solid;
  letter-spacing: .5px;

  > p,
  > ul {
    margin-bottom: 0;
  }
  &:not(.doc-note--tip):not(.doc-note--warning):not(.doc-note--danger) {
    background-color: $grey-2;
    border-color: $separator-color;
    .doc-note__title,
    .doc-link,
    .doc-token {
      color: $primary;
    }
    .doc-token {
      border-color: $primary;
    }
  }
  &--tip {
    background-color: scale-color($positive, $lightness: 85%);
    border-color: $positive;
    .doc-note__title,
    .doc-link,
    .doc-token {
      color: scale-color($positive, $lightness: -40%);
    }
    .doc-token {
      border-color: scale-color($positive, $lightness: -40%);
    }
  }
  &--warning {
    background-color: scale-color($warning, $lightness: 85%);
    border-color: scale-color($warning, $lightness: -30%);
    .doc-note__title,
    .doc-link,
    .doc-token {
      color: scale-color($warning, $lightness: -40%);
    }
    .doc-token {
      border-color: scale-color($warning, $lightness: -40%);
    }
  }
  &--danger {
    background-color: scale-color($negative, $lightness: 90%);
    border-color: $negative;
    .doc-note__title,
    .doc-link,
    .doc-token {
      color: $negative;
    }
    .doc-token {
      border-color: $negative;
    }
  }
  &__title {
    font-weight: 600;
    padding-bottom: 8px;
  }
}
// 按钮形状的标签
kbd {
  white-space: nowrap;
  font-family: inherit;
  display: inline-block;
  padding: 2px 4px 4px;
  line-height: 1;
  border-radius: 4px;
  margin: 0 .2em;
  color: $grey-8;
  background: linear-gradient(-225deg,#d5dbe4,#f8f8f8);
  box-shadow: inset 0 -2px 0 0 #cdcde6,inset 0 0 1px 1px #fff,0 1px 2px 1px rgba(30,35,90,0.4);
}
.q-markup-table {
  width: fit-content;
  max-width: 100%;
  th {
    font-weight: 700;
  }
  th,td{
    font-size: inherit !important;
  }
}
// 标题
.doc-heading {
  color: $primary;
  word-break: break-all;
  .doc-token {
    line-height: 1em;
  }
}
h1 {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 2.2rem;
  margin: 2.2rem 0;
}
h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 1.8rem 0;
  padding-bottom: 1px;
  border-bottom: 1px solid $primary;
}
h3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  margin: 1.4rem 0;
}
h4 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin: 1.2rem 0;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  margin: 1rem 0;
}
h6 {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 0.8rem;
  margin: 0.8rem 0;
}

.c-dialog .q-dialog__inner--minimized > div {
  max-width: none;
  max-height: none;
}

.q-item{
  transition: background-color .3s;
  &.q-item--active {
    background-color: scale-color($primary, $lightness: 80%);
  }
}

.contains-task-list{
 list-style: none;
 padding-left: 0 !important;
 > li{
  margin-bottom: 0 !important;
 }
}
