.markmap-foreign {
  font-family: $font-family;
  border-bottom: 2px solid transparent;
  pre {
    background-color: #e4e4e4;
  }
  code {
    color: #424242 !important;
    background-color: #e4e4e4 !important;
    font-size: inherit !important;
    white-space: break-spaces;
  }
}
